{% extends "base/main.html" %}
{% load static %}

{% block title %}
  Set Up Two-Factor Authentication
{% endblock title %}

{% block content %}
<section class="log-reg">
    <div class="overlay pb-120">
        <div class="container">
            <div class="top-head-area">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-5 col">
                        <a class="back-home" href="{% url 'home' %}">
                            <img src="{% static 'assets/img/left-icon.png' %}" alt="image">
                            Back To People Bank
                        </a>
                    </div>
                    <div class="col-sm-5 col">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'assets/img/logo.png' %}" alt="image" width="150px">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="form-box">
                        <h5>Set Up Two-Factor Authentication</h5>
                        <p>Scan the QR code below using Google Authenticator:</p>

                       <div class="text-center">
                            <img src="data:image/png;base64,{{ qr_code_decode }}" alt="" width="200px" >
                        </div> 

                        <p class="mt-3">Or enter this secret key manually:</p>
                        <div class="alert alert-info">
                            <strong>{{twofa_secret}}</strong>
                            {% comment %} <strong>{{2fa_secret}}</strong> {% endcomment %}
                        </div>
                        <form method="post" action="{% url "setupComplete" %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="single-input d-flex align-items-center">
                                        <input type="text" name="otp_token" placeholder="Enter OTP Token" required>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-area">
                                <button type="submit" class="cmn-btn">
                                    <span class="mx-5" id="btn-text">Verify</span>
                                    <span class="spinner-border" style="width: 2rem; height: 2rem; display: none;" role="status"></span>
                                </button>
                            </div>
                        </form>
                        <div class="form-bottom">
                            <div class="forget-pw">
                                <a href="">Generate Backup Tokens</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}